<div class="about appWrapper wrap">

  <div class="abtTxt">


    <h1>About</h1>
    <div class="row">
    <div class="keyContent">
      <div class="highlight col-md-3">
        <p><b>The Question:</b></p>
      </div>
      <div class="abtContent col-md-9">
        <p>
          Where in the United States is the disparity between
          majority and minority groups the largest?
        </p>
      </div>

      <div class="highlight col-md-3">
        <p><b>Who is this for?</b></p>
      </div>
      <div class="abtContent col-md-9">
        <p>
          The aim of this site is to answer that question by visualizing multiple
          racial and economic differences across the nation.
        </p>
      </div>
    </div> <!-- /keyContent -->
    <p>
      <em><b style="color:orange">"</b>
      Using D3's vivid and interactive map projection, explore the living
      conditions of the underserved and underrepresented in our country.
      <b style="color:rgb(252, 163, 0)">"</b></em>
    </p>
  </div> <!-- /row -->
  </div> <!-- /abtTxt -->
</div> <!-- /about appWrap -->
