<div class="about appWrapper wrap">
    <div class="abtTxt">


      <h1>Contact</h1>
      <div class="row contentCtr">
        <a class="col-md-4" href="https://github.com/kamilahjae"><%=image_tag "Github.png"%></a>
        <a class="col-md-4" href="https://twitter.com/"><%=image_tag "Twitter.png"%></a>
        <a class="col-md-4" href="mailto:kamilahjae@gmail.com"><%=image_tag "Email.png"%></a></div>
    </div>
</div>
