<div class="about appWrapper wrap">
    <div class="abtTxt">


      <h1>Contact</h1>
      <div class="row contentCtr">
        <a class="col-md-4" href="https://github.com/kamilahjae"><img src="/assets/Github.png"/></a>
        <a class="col-md-4" href="https://twitter.com/"><img src="/assets/Twitter.png"/></a>
        <a class="col-md-4" href="mailto:kamilahjae@gmail.com"><img src="/assets/Email.png"/></a></div>
    </div>
</div>
