<div class="appWrapper wrap noPadding">
    <div class="abtTxt">


      <h1>Contact</h1>
      <div class="row">
        <a href="https://github.com/kamilahjae"><img src="http://www.google.com/intl/en_ALL/images/logo.gif"/></a>
        <a href="https://twitter.com/"><img src="http://www.google.com/intl/en_ALL/images/logo.gif"/></a>
        <a href="mailto:kamilahjae@gmail.com"><img src="http://www.google.com/intl/en_ALL/images/logo.gif"/></a></div>
    </div>
</div>
