<div class="appWrapper row noPadding">

  <div class="col-md-8 noPadding">
    <div id="map"></div>
  </div>

  <div class="col-md-4 noPadding">
    <div class="wrap">
      <div class="infoPane">
        <p><b>Educational Attainment in the U.S</b></p>
        <h1 class="centerText" id="infoPaneMainH1">
          The cities with the worse high school
          graduation rates</h1><br>
          <p class="centerText" id="infoPaneMainP">
            Generally speaking, most people are aware that living conditions in
            the U.S are unequal; however, how large is the disparity? Where are
            the worst living conditions? Take a journey into the lives of the
            underrepresented and underserved in the United States of America.
          </p>
      </div><!-- /infoPane -->
    </div><!-- /wrap -->
  </div>

</div><!-- /row -->
