<div class="appWrapper row noPadding">

  <div class="col-md-8 noPadding">
    <div id="map"></div>
  </div>

  <div class="col-md-4 noPadding">
    <div class="wrap">
      <div class="infoPane">Hi!</div>
    </div><!-- end of wrap -->
  </div>

</div><!-- end of row -->
