<div class="appWrapper row noPadding">

  <div class="col-md-8 noPadding">
    <div id="map"></div>
  </div>

  <div class="col-md-4 noPadding">
    <div class="wrap">
      <div class="infoPane">
        <p><b>Educational Attainment in the U.S</b></p>
        <h1 class="center-text"> The cities with the worse high school
          graduation rates</h1><br>
          <p class="center-text">
            Puppy kitty ipsum dolor sit good dog lazy dog slobbery nap water
            pet supplies litter. Bedding shake stick chew kitten kitty ball
            parrot teeth bird food sit leash good boy. Food bird food ID tag
            Tigger feathers Snowball head string play bed collar commands
            vaccination. Tigger kibble swimming slobber food barky nest pet
            food paws tooth fluffy kitten pet gate smooshy. Grooming furry
            parakeet ID tag fetch leash run fast gimme five litter fur harness
            tail. Dog meow stay food dragging heel stay meow brush dog
            dinnertime kitty litter licks cockatiel Buddy field lick Mittens
            head. Lazy Dog right paw head tongue crate walk scratch field
            vaccination yawn run fast nest dog house Buddy play stripes food
            stripes.</p>
      </div><!-- /infoPane -->
    </div><!-- /wrap -->
  </div>

</div><!-- /row -->
