<div class="welcome center">
<h1>Welcome to Kamilah's Capstone!</h1>
<p>Take a journey with me into the lives of
   the overlooked and underserved</p>

<%= button_to("Take Tour", action: "index") %>
<%= button_to("Explore Solo", action: "index") %>

</div>
<div class="infoPane">
</div>
