/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{
  background-color: #151818;
  font: #fff;
}

body {

}

.welcome {

}

.infoPane {
  background-color: #293435;
  width: 30%;
  height: 100%;
  position: absolute;
}

/*.welcome{
  width: 500px;
  height: 300px;55r,
  border: 5px solid #000;
  border-radius: 30px;
  background: #BADA55;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}*/

.center {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

#map {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}
.background {
  fill: none;
  pointer-events: all;
}
#countries, #states {
  fill: #80A2A6;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#countries .active, #states .active {
  fill: #89a;
}
#cities {
  stroke-width: 0;
}
.city {
  fill: #345;
  stroke: #fff;
}
