// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  /*background-color: red;*/
  background-color: #fdfdfd;
  border: none;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.feature {
  fill: #ACB7B8;
  cursor: pointer;
}

.feature.active {
  fill: #16AEBA;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
