// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  /*background-color: red;*/
  background-color: #fdfdfd;
  border: none;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.feature {
  fill: #ACB7B8;
  cursor: pointer;
}

.feature.active {
  fill: #16AEBA;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// *******styling for tooltip********

.d3-tip {
  font: 10px sans-serif;
  line-height: 1;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#infoPaneMainP {
  font-size: 28px;
}
