<!DOCTYPE html>
<html>
<head>
  <title>Capstone2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <p class="navbar-text">Kamilah's Capstone</p>
  </nav>
<%= yield %>

</body>
</html>
